<div class="container vh-100 d-flex justify-content-center">
    <div class="row align-items-center d-flex justify-content-center">
        <div class="col-12 login-box">
            <div class="col-lg-12 login-title">
                PROFILE
            </div>
            <div class="col-lg-12 login-form ">
                <div class="row m-3 px-3">
                    <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-4 d-flex justify-content-center">
                            <img src="./assets/profile.jpg" class="img-thumbnail rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Martin Pedraza</h5>
                              <p class="card-text overflow-auto" style="max-height: 25vh;">I am Marin Pedraza, a passionate programmer from Argentina with specialized experience in Python and Angular development. My solid training in computer science is reflected in a successful academic career, where I have led various projects, from backend systems in Python to the creation of dynamic interfaces with Angular. My GitHub showcases a wide variety of projects, including mobile applications and web platforms, highlighting my proficiency in technologies such as Angular, Ionic, and Slim PHP. Committed to technical excellence, I continually seek innovative challenges to apply my skills and contribute to the success of exciting projects.</p>
                              <p class="card-text"><small><a href="https://martin-pedraza.github.io/Resume/home" target="_blank">See Resume</a></small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>    
    </div>
</div>